/*Google Fonts*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

/*Typography*/

body {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

nav {
  font-weight: 700;
}

h1, h2 {
  margin-top: 10px;
}

h2 {
  font-size: 2.5em;
}

p {
  margin: 0 0 20px;
}

/*Spacing*/

header {
  padding-bottom: 10px;
}

article {
  margin: 20px 0 30px;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}

/*Buttons*/

.btn {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;
  border-style: none;
  padding: 12px 30px;
}

.btn-default {
  background-color: #33c3f0;
  color: #fff;
}

.btn-info {
  background-color: #d78f61;
}

.btn-info:hover {
  color: #000;
  background-color: #e6e6e6;
}

.btn-info:focus {
  color: #000;
  background-color: #e6e6e6;
}

.btn-info:active {
  background-color: #cd7238;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

/*Navbar*/

.navbar-default {
  border-radius: 0;
  padding: 30px 0 0 0;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
}

.navbar-nav {
    margin: 0;
  }

.navbar-btn {
  border-style: none;
  background-color: rgba(255,255,255,.5);
  color: rgba(0,0,0,.5);
}

.btn-default.active {
  background-color: #33c3f0;
  color: #fff;
  box-shadow: none;
}

/*Header Background*/

.header-bg-cover {
  background: url(../img/header.jpg);
  background-size: cover;
}

/*Footer*/

footer {
  background-color: #000;
  color: #828282;
  font-weight: 700;
  padding: 30px 0 30px;
}

footer p {
  margin: 0;
}

footer i {
  vertical-align: middle;
}

.footer-social-icons {
  margin-bottom: 20px;
}

/*Modals*/

.modal-header {
  padding: 25px 30px 0;
  border-bottom: none;
}

.modal-body {
  padding: 15px 30px 25px;
}

.modal-footer {
  padding: 0 30px 40px;
  text-align: left;
  border-top: none;
}

.modal p {
  margin: 0;
}

/*Mobile Navbar: use 2x2 buttons instead of row*/

@media (max-width: 767px) {

  .navbar-btn {
    float: left;
    margin: .5%;
    width: 49%;
  }

}

/*Desktop Styles*/

@media (min-width: 768px) {

  /*Typography*/

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 3em;
  }

  /*Spacing*/

  header {
    padding: 40px 0 65px;
  }

  header .btn {
    margin: 15px;
  }

  section {
    padding: 10px 0 5px;
  }

  /*Navbar*/

  .navbar-default {
    padding-top: 12px;
    padding-bottom: 6px;
    background-color: #000;
    border-color: #000;
  }

  .navbar-default .navbar-brand {
    color: #ffd18f;
    font-size: 2.25em;
    padding-top: 20px;
  }

}