@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

body {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
}

nav {
  font-weight: 700;
}

.btn {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
}

.btn-default {
  background-color: #33c3f0;
  color: #fff;
}

.btn-info {
  background-color: #d78f61;
}

.header-bg-cover {
  background: url(../img/header.jpg);
  background-size: cover;
}

footer {
  background-color: #000;
  color: #fff;
}

footer .fa {
  color: #828282;
}

/*modifications to bootstrap for mobile*/

/*navbar and header*/

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-nav {
  margin: 25px 10px 0px 10px
}

.navbar-btn {
  float: left;
  margin: 1%;
  width: 48%;
  border-style: none;
  background-color: rgba(255,255,255,.25);
  color: #000;
}

.btn-default.active {
  background-color: #33c3f0;
  color: #fff;
}

/*others*/

/*article {
  margin-bottom: 10px;
}*/